.skills-section{
  gap: 16px;
  border-top: 1px dotted var(--primary-purple-300,#dfb7fb);
  border-bottom: 1px dashed var(--primary-purple-300,#dfb7fb);
  padding: 20px 16px;
  overflow: hidden;
}

.skill {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 4px;

  p{width: max-content;}
}

.img-icon {
  position: relative;
  display: inline-block;
  width: 40px; 
  height: 40px; 

  img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.svg-icon {
  display: block;
}

.development-container, .design-container{
  display: flex;
  gap: 14px;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.right-to-left{
  display: flex;
  gap: 14px;
  animation: scroll-right-to-left 40s linear infinite;
  -webkit-animation: scroll-right-to-left 40s linear infinite;
  width: 1404px;
}

.left-to-right{
  display: flex;
  gap: 14px;
  animation: scroll-left-to-right 40s linear infinite;
  -webkit-animation: scroll-left-to-right 40s linear infinite;
  width: 848px;
}

.development-container:hover .skills-carrousel,
.design-container:hover .skills-carrousel{
  animation-play-state: paused;
}

@keyframes scroll-right-to-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(1404px * -1));
    transform: translateX(calc(1404px * -1));
  }
}

@keyframes scroll-left-to-right {
  0% {
    -webkit-transform: translateX(calc(848px * -1));
    transform: translateX(calc(848px * -1));
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}